.priority-btn {
  font-size: 14px;
  background: #ebebeb;
  border-radius: 50px;
  color: #000;
  outline: 1px;
  cursor: pointer;
}

/* .priority-btn:hover {
  box-shadow: inset 0 0 0 4px #ef476f, inset 0 0 0 8px #ffd166,
    inset 0 0 0 12px #06d6a0, inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
} */
